.parent{
    padding: 20px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center
}
#img{
    width: 300px;
    border-radius: 10px;
    height: 300px;
    object-fit: cover
}
.child1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
#child2{
    
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.child3{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    width: 95%;
    margin-left: 10px
}
#text{
    margin-left: 10px;
    text-decoration: underline;
    margin-bottom: 5px;
    font-weight: 600;
    cursor: pointer
}
#text1ForBlog{
    word-break: break-word;
    margin-left: 10px;
    max-height: 194px;
    min-height: 190px;
}

#body1{
    word-break: break-all;
    padding: 40px 10px 0px 10px
}

#imginBlog{
    
    border-radius: 10px;
    height: 300px;
    object-fit: cover
}
#dp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover
}

#Blog_card_title{
    font-weight: 600;
    max-height:48px;
    min-height:47px;
    line-break: break-word;
    margin-left: 10px
}
#noBlog{
    word-break: break-word;
    padding: 20px
}