#profileParent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px
}
#profileBtn{
    width: 180px;
    border-radius: 30px;
    padding: 11px
}
#profilePaper{
    width: 90%;
    margin: 20px auto
}
#profileAvatar{
    width: 100px;
    height: 100px;
    margin: 0 auto
}