.parent {

  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.author{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  margin: 10px 0px 10px 0px;
  width: 100%;
  margin-left: 10px;
}
.img{
  width: 300px;
  border-radius: 10px;
  height: 300px;
  object-fit: cover
}
.body{
  word-break: break-word;
  width: 300px;
  margin-left: 10px;
  max-height: 194px;
  min-height:190px
}
.navigate{
  margin-left: 10px;
  text-decoration: underline;
  margin-bottom: 5px;
  font-weight: 700;
  cursor: pointer
}
.image_url{
 
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}