.author::-webkit-scrollbar {
  width: 1px;
}
.card {
  width: 100%;
  box-shadow: 3;
  border-radius: 10px;
}
#Box {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#authorDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#authorloop{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  
}
#text{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
  .ql-editor img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
