.grid{
    display:flex;
    justify-content:center;
    align-items:center
}
.containerGrid{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
#card{
    border-radius:10px;
    padding:20px
}
#parentDiv{
    padding: 30px;
    background-color: #f9f9f9;
    min-height: 100vh
}